{% extends "layouts/auth_layout.html" %}
{% block title %} Registro {% endblock title %}
{% block content %}
<div>
    <div>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div>
        {% for err in errors %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ err }} <br />
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% if form.errors %}
        <div>
        {% for field, errors in form.errors.items() %}
        {% for err in errors %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ err }} <br />
        </div>
        {% endfor %}
        {% endfor %}
        </div>
        {% endif %}
        <form method="POST" action="." accept-charset="UTF-8" role="form">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="inputEmail" placeholder="Inserte email" name="email">
                <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo con nadie. :-)</small>
            </div>
            <div class="form-group">
                <label for="inputName">Nombre</label>
                <input type="text" class="form-control" id="inputName" aria-describedby="inputName" placeholder="Inserte nombre" name="name">
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" aria-describedby="inputPassword" placeholder="Inserte contraseña" name="password">
            </div> 
            <div class="form-group">
                <label for="inputConfirm">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="inputConfirm" aria-describedby="inputConfirm" placeholder="Inserte contraseña nuevamente" name="confirm">
            </div> 
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary"  name="submit">Registrarse</button>
                </div>
                <div class="col-sm-6">
                    <a href="/auth/signin/" role="button">Volver a inicio de sesión</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
