{% extends "layouts/auth_layout.html" %}
{% block title %} Iniciar Sesión {% endblock title %}
{% block content %}
<div>
    <div>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div>
        {% for err in errors %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ err }} <br />
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% if form.errors %}
        <div>
        {% for field, errors in form.errors.items() %}
        {% for err in errors %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ err }} <br />
        </div>
        {% endfor %}
        {% endfor %}
        </div>
        {% endif %}
        <form method="POST" action="." accept-charset="UTF-8" role="form" class="auth-form">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="inputEmail" placeholder="Inserte email" name="email">
                <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo con nadie. :-)</small>
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" aria-describedby="inputPassword" placeholder="Inserte contraseña" name="password">
            </div> 
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">Recuérdame</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="#">¿Olvidaste la contraseña?</a>
                </div>
            </div>
            {{ form.csrf_token }}
            <button type="submit" class="btn btn-primary"  name="submit">Iniciar Sesión</button>
            <div class="signup-link">
                <a href="/auth/signup/" role="button">Crear una cuenta</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
